<div class="row">
  <ul>
    <li>
      <h3 class="question">¿Qué es el hipotiroidismo?</h3>
      <p class="answer">Se define como la baja producción de hormonas tiroideas, regularmente causado por un mal funcionamiento de la glándula tiroides.</p>
    </li>
    <li>
      <h3 class="question">¿Quienes somos?</h3>
      <p class="answer">Somos un grupo de programadores en Rails que respondimos ante una necesidad social teniendo la oportunidad de presentarlo como proyecto en #angelhackMéxico2016.</p>
    </li>
    <li>
      <h3 class="question">¿Qué haremos por ti?</h3>
      <p class="answer">Con esta aplicación podrás llevar un mejor control y registro no solo de tu tratamiento, también de tus sintomas.
      <br>
      Nosotros sabemos que para obtener un mejor diagnóstico es necesario mantener la información al día sobre tus síntomas incluyendo un claro registro de tus controles hormonales.
      <strong>¡Esta app te facilitará la vida!.</strong>
      <br>
      Lleva el control de tu tratamiento de una manera simple y accede a la información cuando la necesites. <strong>¡¿No es fantástico?! Sabemos que sí</strong>.</p>
    </li>
  </ul>
</div>
